/*цвета логотипа #000000 */
/*цвет основного текста #212121 */
/*цвет вторичного текста #757575 */
/* белый текст с прозрачностью rgba(255, 255, 255, 0.4); */
/* акцент #2196F3 */
/* фон - цвет вторичный #F5F4FA*/

/*уберет все точечки маркерованого списка
ul {
  list-style: none;
} 
или
.list {
  list-style: none;
}*/
.list {
  list-style: none;
}

/* body */
.page {
  background: #ffffff;
  color: #757575;
}

/* page header */
.page-header {
  color: #212121;
}

.logo {
  color: #2196f3;
}

.site-logo {
  color: #212121;
}

/* body site-nav */
.site-nav .link {
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

/* body auth-nav */
.auth-nav .link {
  color: #212121;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: #2196f3;
}

/* Hero section */
.hero-title{
  color: rgb(204, 166, 166);
}

/* for all of class"section" */
.section
.section-title {
  color: #212121;
}

/* footer */
.main-footer{
  color: rgb(204, 166, 166); 
}

.footer-item{
  color:rgba(255, 255, 255, 0.6); ;
}